---
import Layout from '../layouts/Layout.astro';
import BlockRenderer from '../components/BlockRenderer.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('site_pages', '404');

const { 
  seo_title = "404: Page Not Found", 
  blocks 
} = entry?.data || {};
---

<Layout title={seo_title}>
	<main>
		{blocks && <BlockRenderer blocks={blocks} />}
	</main>
</Layout>
